body {
    margin: 0;
    padding-top: 90px;
    font-family: Arial, sans-serif;
    background: url('/images/bg-img4.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  .nav-bar{
    z-index: 1000;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: white;
    padding: 12px 20px;
    color: green;
    height: 60px;
    position: fixed;
    font-weight: bold;

    
    
}

.logo img{
    width: 100px;
}

.carousel-item{
    margin-top: 10px;
}

.carousel-item img{
    width: 80%;
    height: 80vh;
}


.container-fluid{
    padding: auto;
    justify-content: space-between;
}

.des{
    margin-bottom: 50px;
    background-color: rgba(0, 128, 0, 0.199);
    border: 1px solid green;
    border-radius: 10px;
    padding: 30px 0;
    text-align: justify;
    color: green;
    font-weight: bold;
    font-size: 1.2rem;
}

.des h2{
    text-align: center;
}

.container h1{
    color: green;
    text-align: center;
}