@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&diplay=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: url('/images/bg-image.jpg') no-repeat center center fixed;
    background-size: cover;
    
}

.bg{
    background-color: #7dff9b3f;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

#navProfileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.upload-container {
    width: 300px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#previewContainer {
    margin: 20px 0;
}

#previewImage {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}





/* for verification */

.formv-container {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input{
    border: #28a745 1px solid;
    background-color: transparent;
}

.form-group input,
.form-group button {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    outline: none;
    border-radius: 10px;
}


button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    
    
}

button:hover {
    background-color: #218838;
}

.success {
    color: green;
    margin-top: 20px;
}













/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

.success {
    color: green;
    margin-top: 20px;
} */

@media (min-width: 768px) {
    .formv-container {
        width: 50%;
    }
}
